#feed-background{
    background-image:  url("/static/img/minecraft.jpg");
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-attachment: fixed;
    background-color: lightgrey
}
.feed-left-col{
    background-color: transparent;

}
.feed-middle-col{
    background-color: transparent;
    
}
.user-info-container{
    width: 250px;
    
    margin-left: 75px;
    display:block;
    position: fixed;
    
    
}
.user-picture{
    width: 100px;
    display: block;
    margin: 25px;
    margin-left:auto;
    margin-right:auto;
}
.user-info-box{
    background-color: white;
    height: 300px;
    display: block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
    padding: 10px;
    
}
.game-item{
    width: 650px;
    height: 200px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    background-color: white;
    margin-top: 25px;
    margin-bottom: 25px;
    -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
    
}

.game-img-container{
    display: block;
    float: left;
    width: 150px;
    
}

.game-info-container{
    display: block;
    float: left;
    width: 400px;
}

.game-score-container{
    display: block;
    float: left;
    width: 100px;
    text-align: center;
}

.game-img{
    width: 110px;
    margin: 20px;
}

.game-title{
    height: 40px;
    font-size: large;
}
.game-description{
    height: 160px;
    font-size: medium;
    line-height: 120%;
    margin-right: 20px;
}
.game-score{
    
    height: 76px;
    border-radius: 10px;
    border: 1px solid gray;
    margin: 10px;
  
}
.game-metascore{
    height: 76px;
    border-radius: 10px;
    border: 1px solid gray;
    margin: 10px; 
   
}
.rating{
    font-size: large;
    font-weight: bolder;
}