<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Game Hunter - Games</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Jockey+One" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/feed.css">
</head>

<body>
    <!--{% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }} </li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}-->
    <div id="feed-background">

        <div class="row">

            <div class="col-md-3 feed-left-col">
                <div class="logo">Game Hunter</div>

                <div class="user-info-container">
                    <img class="user-picture" src="static/img/{{ profilePic | default('wonder-woman.png') }}" />
                    <div class="user-info-box">
                        <h2>Hello, <br>{{steamid}}!</h2>
                        <p>Games you played:</p>
                        <p>{{playedGames[0]}}</p>
                        <p>{{playedGames[1]}}</p>
                        <p>{{playedGames[2]}}</p>

                    </div>

                </div>

            </div>
            <div class="col-md-6 feed-middle-col">
                <h1 class="recommended-title">Recommended games: </h1>
                {% for game in games %}
                <div class="game-item ">
                    <div class="game-img-container">
                        <img class="game-img" src="{{game.cover}}" />
                    </div>
                    <div class="game-info-container">
                        <div class="game-title">
                            <p>{{ game.gameTitle }}</p>
                        </div>
                        <div class="game-description">
                            <a href="{{game.igdbUrl}}">{{ game.summary }}</a>
                        </div>
                    </div>
                    <div class="game-score-container">
                        <div class="game-score">
                            Similarity  score:
                            <br>
                            <div class="rating">{{ game.similarityScore }}%</div>
                        </div>
                        <div class="game-metascore">
                            IGDB  Rating:
                            <br><div class="rating">{{game.rating}}</div>
                        </div>
                    </div>
                    </p>
                </div>
                {% endfor %}</div>
            <div class="col-md-3"></div>

        </div>



    </div>
</body>

</html>