<!DOCTYPE html>
<html lang="en">

<head>
    <title>Game Hunter - Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>
    <div class="login-container">


        <h1>Sign In</h1>
        <img id="steam-img" src="/static/img/steam.jpg">

        <div class="form-container">
        <form class="form-signin" action="" method="post" name="login">
            {{ form.hidden_tag() }}
            
                Enter your SteamID:

                <br> {{ form.steamid }}
                <br>
                       
                <input id="login-button" type="submit" value="Log In">
            </div>
            
        </form>
    </div>
</body>

</html>